<a href="#" class="list-group-item">Novel</a>
<a href="#" class="list-group-item">Fiction</a>
<a href="#" class="list-group-item">Comic</a>
<a href="#" class="list-group-item">Science</a>
<a href="#" class="list-group-item">View All</a>