<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./partials/header %>
</head>
<body>
        <%- include ./partials/bodyHead %>
    <form name="form1" method="POST" action="//add">
        <table>
            <tr>
            <td>Name</td>
            <td><input type="text" name="" ></td>
            </tr>
            <tr>
            <td>Password</td>
            <td><input type="text" name="" ></td>
            </tr>
            <tr>
            <td colspan="2"><input type="submit" value="Save" ></td>
            </tr>
        </table>
    </form>  
    
</body>
</html>